.prettyprint {
  font-family: Consolas, Menlo, Courier, monospace;
}

.prettyprint pre p {
  min-height: 10px;
}

#list1 ul {
  padding-left: 10px;
}

ul li.task-list-list {
  list-style-type: none;;
  padding: 0 10px;
}

.task-list-list {
  margin: 0;
  padding: 0;
}

.task-list-list.checked {
  color: #159957;
}

.task-list-list.uncheck {
  color: #bfc1bf;
}

.task-list-list img {
  height: 20px;
  width: 20px;
  margin: 0 10px;
  top: 4px;
  position: relative;
}

h2.super {
  white-space: normal;
  border: none;
  margin: 5px 0 0;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  border-left-width: 48px;
  border-left-style: solid;
  border-radius: 4px;
  color: #fff;
  border-left-color: #bfc1bf;
  background-color: #159957;
}
